# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# -----

# Visual Studio
.vs
*.vcxproj.user

# Otras cosas
*.ilk
*.pdb

# Por si acaso
*.log
*.txt

# Dependencias NO
!dependencies/**

# Builds
dependencies/**/builds

# Temporales
temporary

# Ejecutables; y recursos NO
!executables/**
executables/*
!executables/assets

# Librerías
libraries